@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}

body {
  @apply bg-otlob-charcoal text-white antialiased;
}

html.light body {
  @apply bg-otlob-cloud text-otlob-charcoal;
}

a {
  @apply transition-colors duration-150;
}

::selection {
  background-color: rgba(255, 179, 83, 0.7);
  color: #111416;
}
